_build*
build*
+committed/
,*
Makefile.in
.version
autom4te.cache
config.h.in
configure
aclocal.m4
tests/testsuite
#.gitmodules#
include/kws/hash-optimizer/#fwd.hh#
src/#directpath.cc#
src/.#directpath.cc